/* Styles for the main container holding all slides */
.slider-wrapper {
    background-color: aqua;
  }

  .slider-wrapper > .slider{
    display: flex;
    height: 100%;
    width: auto;
    overflow: hidden;
    background-color: brown;
  }
  .slider > .slide{
    width: 70%;
    height: auto;
    margin: 5px;
    background-color: green;    
  }
  
  /* Styles for each slide */
  .slide {
    flex: 0 0 auto;  /* Prevent the flex items from shrinking */
    background-color: red;
  }
  
  /* Styles for the image container */
  .image {
    max-width: 200px;  /* Set a max-width for each image container */
    max-height: 200px;  /* Set a max-height for each image container */
    overflow: hidden;  /* Ensure the image does not overflow the container */
    background-color: orange;
  }
  
  /* Styles for the images */
  .image img {
    width: 100%;  /* Ensure the image takes the full width of the container */
    height: auto;  /* Maintain aspect ratio */
    object-fit: cover;  /* Cover the container without distortion */
    background-color: yellow;
  }

  #img-1{
    background-color: aliceblue;
  }

  #img-2{
    background-color:chartreuse;
  }

  #img-1{
    background-color: rgb(33, 85, 129);
  }
  
  .navigation{
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: 40%;
    height: 10%;
    width: 15%;
    right: 20%;
    margin: 2px;
    background-color: cadetblue;
  }
  .nav-indicator{
    padding: 2px;
    height: fit-content;
    background-color: burlywood;
  }